<h2>The Detail Of Employee is:</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Email</th>
            <th scope="col">DOB</th>
            <th scope="col">Position</th>
            <th scope="col">Package</th>
            <!-- <th class="col">Action</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let details of detailList">
            <td>{{ details.id }}</td>
            <td>{{ details.name }}</td>
            <td>{{ details.gender }}</td>
            <td>{{ details.phoneNumber }}</td>
            <td>{{ details.DOB }}</td>
            <td>{{ details.position }}</td>
            <td>{{ details.package | uppercase }}</td>
            <td>
                <button class="btn btn-success"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                   </svg></button> &nbsp;

                <button class="btn btn-danger" (click)="delDetails()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                  </svg></button>
            </td>
        </tr>
    </tbody>
</table>

<hr class="ddd" />
<!-- Post data form -->
<h4 class="post">To Add the Data</h4>
<div class="container">
    <form #userForm="ngForm" (ngSubmit)="getPostData(userForm.value)" [formGroup]="formValue">

        <div class="mb-3">
            <label for="name">name:</label>
            <input type="text" formControlName="name" class="form-control" placeholder="Enter your Name" ngModel><br>
        </div>

        <div class="mb-3">
            <label for="gender">gender:</label>
            <select name="gender" type="gender" ngModel class="form-control">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Trans">Trans</option>
    </select>

            <div class="mb-3">
                <label>email:</label>
                <input type="email" class="form-control" formControlName="email" placeholder="Enter your email" ngModel />
            </div>

            <div class="mb-3">
                <label for="phone">phoneNumber:</label>
                <input type="phoneNumber" class="form-control" formControlName="phoneNumber" placeholder="Enter your phoneNumber" ngModel>
            </div>

            <div class="mb-3">
                <label>DOB:</label>
                <input type="date" formControlName="DOB" class="form-control" placeholder="Enter your DOB" ngModel /><br />
            </div>

            <div class="mb-3">
                <label for="position">position:</label>
                <select name="position" type="text" formControlName="position" ngModel class="form-control">
        <option value="Trainee Engineer">Trainee Engineer</option>
        <option value="FrontEnd Engineer">FrontEnd Developer</option>
        <option value="BackEnd Engineer">BackEnd Developer</option>
        <option value="FullStack Engineer">FullStack Developer</option>
        <option value="QA Engineer">QA Engineer</option>
        <option value="Admin">Admin</option>
        <option value="Cyber Security">Cyber Security</option>
      </select>
            </div>

            <div class="mb-3">
                <label>Package:</label>
                <input type="string" formControlName="package" class="form-control" placeholder="Enter your package" ngModel /><br />
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">Adding New User</button>&nbsp;


                <button class="btn btn-success"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                   </svg></button> &nbsp;

                <button class="btn btn-danger" (click)="delDetails()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                  </svg></button>
            </div>

            <!-- <div class="container">
    <form #userForm="ngForm" (ngSubmit)="getPostData(userForm.value)">
        <label>Name:</label> <input type="text" name="name" placeholder="Enter your Name" ngModel><br><br>
            <label>Email:</label> <input type="email" name="email" placeholder=" Enter your email" ngModel><br><br>
            <label>password:</label> <input type="password" name="password" placeholder="Enter your password" ngModel><br><br>
            <button>Adding New User</button>
    </form> -->
