<h2>The Detail Of Employee is:</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Email</th>
            <th scope="col">DOB</th>
            <th scope="col">Position</th>
            <th scope="col">Package</th>
            <!-- <th class="col">Action</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let details of detailList">
            <td>{{details.id}}</td>
            <td>{{details.name}}</td>
            <td>{{details.gender}}</td>
            <td>{{details.phoneNumber}}</td>
            <td>{{details.DOB}}</td>
            <td>{{details.position}}</td>
            <td>{{details.package|uppercase}}</td>
            <td>
                <button class="btn btn-success">Edit</button>&nbsp;
                <button class="btn btn-danger" (click)="delDetails()">Delete</button>
            </td>

        </tr>
    </tbody>
</table>

<hr class="ddd">
<!-- Post data form -->
<h4 class="post">To Add the Data</h4>
<div class="container">
    <form #userForm="ngForm" (ngSubmit)="getPostData(userForm.value)" [formGroup]="formValue">
        <div class="mb-3">
            <label for="name ">name:</label>
            <input type="text " formControlName="name" class="form-control " placeholder="Enter your Name" ngModel><br>
        </div>

        <div class="mb-3">
            <label for="gender ">gender:</label>
            <select name="gender " ngModel class="form-control">
      <option value="Male ">Male</option>
      <option value="Female ">Female</option>
      <option value="Trans ">Trans</option>
    </select>
        </div>

        <div class="mb-3 ">
            <label>email:</label>
            <input type="email " class="form-control " formControlName="email " placeholder="Enter your email " ngModel>
        </div>

        <div class="mb-3">
            <label for="phone ">phoneNumber:</label>
            <input type="phoneNumber " class="form-control" formControlName="phoneNumber" placeholder="Enter your phoneNumber " ngModel>
        </div>

        <div class="mb-3 ">
            <label>DOB:</label>
            <input type="date" formControlName="DOB " class="form-control " placeholder="Enter your DOB " ngModel><br>
        </div>

        <div class="mb-3">
            <label for="position">position:</label>
            <select name="position " type="text " ngModel class="form-control ">
      <option value="Trainee Engineer">Trainee Engineer</option>
      <option value="FrontEnd Engineer">FrontEnd Developer</option>
      <option value="BackEnd Engineer">BackEnd Developer</option>
      <option value="FullStack Engineer">FullStack Developer</option>
      <option value="QA Engineer">QA Engineer</option>
      <option value="Admin">Admin</option>
      <option value="Cyber Security">Cyber Security</option>
    </select>
        </div>

        <div class="mb-3 ">
            <label>Package:</label>
            <input type="string " formControlName="package " class="form-control " placeholder="Enter your package " ngModel><br>
        </div>

        <button class="btn btn-primary ">Adding New User</button>
    </form>


    <!-- <div class="container ">
    <form #userForm="ngForm " (ngSubmit)="getPostData(userForm.value) ">
        <label>Name:</label> <input type="text " name="name " placeholder="Enter your Name " ngModel><br><br>
            <label>Email:</label> <input type="email " name="email " placeholder=" Enter your email " ngModel><br><br>
            <label>password:</label> <input type="password " name="password " placeholder="Enter your password " ngModel><br><br>
            <button>Adding New User</button>
    </form> -->
